@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ------------------ROOT-VARIABLE------------------- */
:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7b8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677486;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);

    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --primary-color: #ee4d2d;
    --primary-hover: #ed5c3f;
    --star-gold-color: #ffce3d;
    --discount-color: rgba(255, 216, 64, 0.94);
    --navbar-height: 33px;
    --header-height: 70px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;
}

/* =================DARK THEME VARAIBLES=========== */

.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}

body {
    /* font-family: Helvetica Neue,Helvetica,Arial,文泉驛正黑,WenQuanYi Zen Hei,Hiragino Sans GB,儷黑 Pro,LiHei Pro,Heiti TC,微軟正黑體,Microsoft JhengHei UI,Microsoft JhengHei,sans-serif;
    color: rgba(0,0,0,0.8); */
    width: 100vw;
    height: 100vh;
    color: var(--color-dark);
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    /*Prevent text selection*/
    overflow-x: hidden;
    /*chieu rong Noi dung du thua se bi an di*/

}

html {
    font-size: 14px;
    /* font-size: 62.5%;
    line-height: 1.6rem;
    /* font-family:'Roboto',sans-serif; 
    box-sizing: border-box; */

}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}


.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */
/*giải thích: margin -5px và padding 5px để tạo khoảng cách mặc định giữa các column theo phân bố 5 columns */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__comlumn-2-5 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3333%;
}

/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }

    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.2s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    width: 500px;
    min-height: 500px;

    /* position: relative; vì có z-index bằng 1 nên k cần lấy gốc nưuax */
    margin: auto;
    z-index: 1;
    /* z-index quyết định cái nào nằm trên cái nào */
    animation: growth linear 0.25s;

}

/* button style */
.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.3rem;
    padding: 0;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);

}

.btn--cmback {
    background-color: white;
}

.btn.btn__normal:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn.btn--size-s {
    height: 30px;
    font-size: 12px;
    padding: 0 8px;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* .Selection */
.select-input {
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: #6c6565;
    top: 1px;
}

.select-input__list {
    position: absolute;
    width: 100%;
    /* height: 84px; */
    top: 37px;
    right: 0;
    padding-left: 0;
    margin: 0 0;
    list-style: none;
    border-radius: 2px;
    background-color: var(--white-color);
    display: none;
    padding: 8px 0;
    z-index: 1;
}

.select-input__link {
    font-size: 1.4rem;
    text-decoration: none;
    display: block;
    color: #333;
    padding: 5px 0px 5px 17px;
}

.select-input__link:hover {
    color: var(--primary-color);
}

.select-input:hover .select-input__list {
    display: block;
    animation: fadeIn ease-in 0.1s;
}

.select-input__list::before {
    content: "";
    width: 200px;
    position: absolute;
    display: block;
    height: 5px;
    top: -4px;
}

/* Tạo phần phân trang pagilation */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

/*giải thích: cách để đo khoảng cách giữa 2 nút của pagilation là đo khoảng cách giữa 2 số của 2 nút trang và margin 2 bên sao cho bằng chúng */
.pagination-item {
    margin: 0 12px;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);

}

.pagination-item--active .pagination-item__link:hover {
    background-color: #ed5c3f;
}

/* giải thích: thẻ a để đc width và height thì phải có display block 
        để căn chũ theo chiều dọc và nằm giữa chiều dọc thì dùng line-height=height đã đặt =th này bằng 
        30px
        để căn chữ theo chiều ngang thì dùng text-alight center */
.pagination-item__link {
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: 1.9rem;
    font-weight: 300;
    color: #a6a6a6;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;
}

/* tạo biến local để khi thay đổi chỉ cần thay đổi biến local */